.banner img{
  height: 100%;
  width: inherit;
}

.shows {
  float: left;
}

.sidebar {
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
  float: left;
  width: 600px;
}

.about {
  float: left;
  width: 600px;
}

.pix img{
  height: inherit;
  width: 400px;
}

.pix {
  float: right;
}
